{% extends "base.html" %}
{% block content %}

    <br>
    <h1>About Jonathan Overy</h1>
    <br>
    <h2>Programming</h2>
    <br>
    <h4>Jonathan began studying Python in October, 2018.  He quickly realized that
    programming was a skill he would have loved much earlier in life.  Taking to
  Python quickly, he proceeded to study HTML, CSS, Javascript, and continue with
jQuery, Bootstrap, and Django.  Jonathan writes code on a regular basis and loves
the challenges that programming brings.</h4>
    <br>
    <br>
    <h4>Jonathan can be reached at: jovery90@gmail.com</h4>


{% endblock %}
