{% extends "base.html" %}
{% block content %}

    <br>
    <h1>Jonathan Overy - Python Programmer</h1>
    <br>
    <br>
    <br>
    <h2><a href="{% url 'game' %}">Stori - A Python Game</a></h2>
    <h3>- A game written in Python using the PyGame module</h3>
    <br>
    <br>
    <h2><a href="{% url 'projects' %}">Projects</a></h2>
    <h3>- Currently under construction</h3>
    <br>
    <br>
    <h2><a href="{% url 'about' %}">About Jonathan</a></h2>
    <h3>- Contact info and background</h3>


{% endblock %}
